body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #f7df1e;
    padding: 20px;
    text-align: start;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

header img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2 {
    font-family: 'SUSE', sans-serif;
    margin: 20px;
}

pre {
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f7df1e;
    color: black;
}
